//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

// Primary Brand
$yellow: rgb( 247, 236, 51 );
$grey: rgb( 242, 242, 242 );
$white: rgb( 255, 255, 255 );

// Secondary Brand
$dark-blue: rgb( 38,37,79);
$purple: rgb(38, 37, 79);
$purple-light: rgb(120, 113, 150);
$red: rgb( 234, 21, 67 );
$green: rgb( 172, 226, 121);
$orange: #EC592C;

$light-gray: #ebebeb;
$medium-gray: #575757;
$dark-gray: darken( $grey, 50% );
$black: #000000;

$primary-color: $purple;
$secondary-color: $purple-light;
$success-color: $green;
$warning-color: $red;
$alert-color: #ec5840;
$pre-color: $red;

$global-width: 555px;
$global-width-small: 95%;
$global-gutter: 10px;
$body-background: $white;
$container-background: transparent;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 50px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $dark-gray;
$body-font-family: Helvetica, Arial, sans-serif;
$global-font-weight: normal;
$header-color: inherit;

$global-line-height: 1.5;
$global-font-size: 16px;

$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;

$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;
$header-margin-bottom: 10px;
$paragraph-margin-bottom: 10px;
$small-font-size: 80%;
$small-font-color: $dark-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.5;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $pre-color;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $black;
$hr-margin: 20px auto;
$anchor-text-decoration: none;
$anchor-color: $orange;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($anchor-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 16px,
  large: 20px,
);
$button-color: $white;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $primary-color;
$button-border:  $primary-color;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------
$callout-background: $light-gray;
$callout-background-fade: 0%;
$callout-padding: 16px;
$callout-margin-bottom: $global-margin;
$callout-border: none;
$callout-border-secondary: none;
$callout-border-success: none;
$callout-border-warning: none;
$callout-border-alert: none;

// 7. Menu
// -------
$menu-item-padding: 1px;
$menu-item-gutter: 1px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------
$thumbnail-border: solid 4px $grey;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: none;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: 0;

