@import 'settings';
@import 'foundation-emails';

a h2, a h3, a h4, a h5 {
	font-weight: 700;
	color: $secondary-color;
}

.title {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -1px;
	margin-bottom: 0px;
}

.blog {
	text-transform: capitalize;
}

.icon {
	font-family: $body-font-family;
	font-size: $h5-font-size;
	font-weight: $button-font-weight;
	background: #e7582e;
	padding: 10px 0;
	border-radius: $global-rounded;
	width: 50px;
	height: 30px;
	text-align: center;
	display: block;
	color: $button-color;
	border: 3px solid white;
}

.button {
	width: auto;
	margin: $button-margin;
	Margin: $button-margin;
	text-align: center;
	// color: $button-color;
	// background: $button-background;
	border: $button-border;
	font-family: $body-font-family;
	font-size: map-get($button-font-size, default);
	font-weight: $button-font-weight;
	text-decoration: none;
	display: block;
	color: white;
	line-height: 1.2;
	font-size: 28px;
	padding: map-get($button-padding, default);
	border: 0 solid $button-background;

	&.callout {
		border: none;
		outline: 0;
	}

	&.warning {
		background: $warning-color;
		border: 0px solid $warning-color;
		border: 0px solid $warning-color;
		margin-bottom: 0;
		Margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 16px;
		line-height: 1;
		&:hover {
			background: darken($warning-color, 10%);
			border: 0px solid darken($warning-color, 10%);
		}
	}
}

.email-social-img {
	width: 36px;
	height: 36px;
}