<h5>
	<a href="{{ url-webroot }}?ace=----ACE_ID----" target="_blank">
		<img src="{{ url-asset }}netnanny-wordmark.png" width="140" alt="{{ company }} logo">
	</a>
</h5>

<menu>
	<item class="email-social-link" href="https://www.facebook.com/NetNanny/?ace=----ACE_ID----" target="_blank"><img class="email-social-img" src="{{ url-asset }}facebook.png" alt="facebook" width="24" height="24">
	</item>
	<item class="email-social-link" href="https://www.twitter.com/netnanny/?ace=----ACE_ID----" target="_blank">
		<img class="email-social-img" src="{{ url-asset }}twitter.png" alt="twitter" width="24" height="24">
	</item>
	<item class="email-social-link" href="https://www.instagram.com/net_nanny/?ace=----ACE_ID----" target="_blank">
		<img class="email-social-img" src="{{ url-asset }}Instagram.png" alt="instagram" width="24" height="24">
	</item>
	<item class="email-social-link" href="https://www.pinterest.com/netnanny/net-nanny/?ace=----ACE_ID----" target="_blank">
		<img class="email-social-img" src="{{ url-asset }}pinterest.png" alt="Pinterest" width="24" height="24">
	</item>
</menu>