<wrapper bgcolor="e1e1e1">
	<container>
		<row class="head-wrap expander" >
			<columns size="12" large="6" class="logo">
			<spacer size="16"></spacer>
				<a href="http://www.netnanny.com/?ace=----ACE_ID----" target="_blank"><img src="https://www.netnanny.com/assets/email/newsletter/netnanny-wordmark.png" width="140" alt="Net Nanny"></a>
			</columns>
			<columns size="12" large="6" class="label">
			  	<spacer size="16"></spacer>
				<h6 class="collapse" style="text-align: right">{{ date-month }} {{ date-year }} Vol.{{ date-vol }} Newsletter</h6>
			</columns>
		</row>
	</container>
</wrapper>