<wrapper bgcolor="e1e1e1">
	<container>
		<row class="head-wrap expander">
			<columns large="6" small="12" class="logo">
			<spacer size="16"></spacer>
				<a href="{{ url-webroot }}{{{ tracking-campaign }}}201608visitnetnanny{{{ tracking-ace }}}" target="_blank"><img src="https://www.netnanny.com/assets/email/newsletter/netnanny-wordmark.png" width="140" alt="Net Nanny"></a>
			</columns>
			<columns large="6" small="12" class="label">
			  	<spacer size="16"></spacer>
				<h6 class="collapse" style="text-align: right">{{ date-month }} vol.{{ date-vol }} {{ date-year }}</h6>
			</columns>
		</row>
	</container>
</wrapper>